<div class="nav-drawer">
  <input type="checkbox" id="nav_drawer_trigger" class="nav-drawer__trigger" style="display: none;" />

  <div class="nav-drawer__header">
    <label for="nav_drawer_trigger" class="nav-drawer__opener">
      <i class="icon sidebar"></i>
    </label>
    <label for="nav_drawer_trigger" class="nav-drawer__closer">
      <i class="icon close"></i>
    </label>
  </div>

  <div class="nav-drawer__main">
    <%= render 'navigation_links' %>
    <%= render 'navigation_extra_links' %>
  </div>

  <%= render 'navigation_footer' %>
</div>
