<%#
  You can add extra navigation itens, in this partial.
  E.G:

  <div class="nav-drawer__menu-title">
    Account
  </div>

  <div class="nav-drawer__menu-item">
    <i class="icon sign out"></i>
    Logout
  </div>
%>
